@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

:root {
	--color-focus: #FFE526;
	--color-shadow: #F35A0B;
	--color-base: #7F1F05;
	--color-bg: #030101;
	--blur: 0.4vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-display: block;
	/* scroll-behavior: smooth; */
}

/* disable scrollbar in chrome */
::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

body {
	background-color: var(--color-bg);
}

/* disable scrollbar in firefox */
.main {
	scrollbar-width: none;
	overflow-y: scroll;
	height: 100vh;
}

.text {
	display: table;
	position: relative;
	transform: translate(-50%, -50%);
	color: var(--color-base);
	
	font-family: "Crimson Text", serif;
	font-size: 6vmin;
	font-weight: bold;
	margin-bottom: 0.1vh;
	text-transform: capitalize;

	animation: horizontal 1s, bottom-to-top 1s, focus 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-play-state: paused;

	/* DEBUG */
	/* animation-delay: -0.5s; */
	/* animation-direction: alternate; */
	/* animation-iteration-count: infinite; */
	/* animation-timing-function: ease-in-out; */
	/* left: 50%; */
}

.heading {
	font-family: Helvetica, sans-serif;
	font-size: 4vh;
	font-weight: normal;
}

@keyframes horizontal {
	from {
		left: 40%;
	}

	to {
		left: 60%;
	}
}

@keyframes focus {
	0% {
		filter: blur(var(--blur));
	}

	40% {
		color: var(--color-base);
		text-shadow: transparent 0px 0.3vh 0.6vh;
	}

	100% {
		color: var(--color-focus);
		filter: blur(0.02vh);
		text-shadow: var(--color-shadow) 0px 0.3vh 0.6vh;
	}
}

@keyframes bottom-to-top {
	0% {
		transform: translate(-50%, -50%) rotateX(-5deg) rotateY(-60deg);
	}

	48%, 52% {
		transform: translate(-50%, -50%) rotateX(0) rotateY(0);
	}

	100% {
		transform: translate(-50%, -50%) rotateX(10deg) rotateY(60deg);
	}
}
